<p>
  {{ title | lowercase }}
</p>

<div class="control-bar">
  <button (click)="toggleSelectAll()">
    {{ allSelectedManually() ? '/' : (allSelected() ? '-' : 'X') }}
  </button>
  <p>
    {{ selectedCount() }} / {{ users.length }}
  </p>
</div>

<ul>
  <ng-container *ngFor="let user of users">
    <li
      [ngClass]="{
        'administrateur': user.role === 'administrateur',
        'collaborateur': user.role === 'collaborateur',
        'visiteur': user.role === 'visiteur',
        'lecteur': user.role === 'lecteur'
        }"
      (click)="user.selected = !user.selected"
      [ngStyle]="{'text-decoration': user.selected ? 'line-through' : 'none'}"
    >
        {{ 
          user.firstname
        }}
        
        {{
          user.lastname 
        }}
        <br>
        <button *ngIf="user.selected" (click)="deleteUser(user)">X</button>
    </li>
  </ng-container>
</ul>

<input [type]= "showPassword ? 'text' : 'password'">
<button 
  type="button" 
  (click)="toggleShowPassword()"
  [disabled]="isBtnDisabled"
>
  Show
</button>