$input-line-color: rgb(10, 25, 200);

input 
{
    border: none;
    border-bottom: solid 1px $input-line-color;

    &[type="text"]
    {
        border-bottom: dashed 1px lighten($input-line-color, 40%);
    }
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: .5em;

    li
    {
        padding: .8em;
        margin-bottom: .5em;
        color: #fff;

        &.administrateur 
        {
            background-color: lighten($input-line-color, 30%);
        }

        &.collaborateur
        {
            background-color: darken($input-line-color, 10%);
        }

        &.visiteur
        {
            background-color: lighten($color: $input-line-color, $amount: 20%);
        }

        &.lecteur
        {
            background-color: darken($input-line-color, 20%);
        }
    }
}